<div class="row">
  <div class="col-12">
    <img [src]="detailProp.imageUrl" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>{{ detailProp.name }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span>{{ detailProp.description }}</span>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span>Ingredients</span>
  </div>
</div>
<div class="row">
  <div class="col-12 py-1">
    <button (click)="onClickToggle()" type="button" name="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
    <div *appDropdown="!clicked" class="recipe-dropdown">
      <a class="dropdown-item" href="#">To Shopping List</a>
      <!-- <div class="dropdown-divider"></div> -->
      <a class="dropdown-item" href="#">Edit Recipe</a>
      <!-- <div class="dropdown-divider"></div> -->
      <a class="dropdown-item" href="#">Delete Recipe</a>
    </div>
  </div>
</div>
