<div class="row">
  <div class="col-xs-12">
    <button type="button" name="button" class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr style="height:0px">
<div class=" row">
  <div class="col-xs-12">
    <ul class="list-group">
      <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
        <div class="float-start">
          <h4 class="">{{ recipe.name }}</h4>
          <p class="">{{ recipe.description }}</p>
        </div>
        <span class="float-end">
          <img [src]="recipe.imageUrl" alt="" class="img-fluid" style="max-height:150px;">
        </span>
      </a>
    </ul>
    <!-- <app-recipe-item></app-recipe-item> -->
  </div>
</div>